.about-us {
    padding-top: 150px;

    &__container {
        background: $blue;
        border-radius: 25px;
        height: 365px;
        padding: 67px 130px 64px 130px;
        display: flex;
    }

    &__pic {
        flex: 0 0 49%;
    }

    &__text {
        flex: 0 0 49%;
        p {
            font-weight: bold;
            font-size: 40px;
            line-height: 40px;
            color: $dark;
        }
        div {
            padding-top: 32px;
            font-size: 20px;
            line-height: 27px;
            color: $grey;
        }
    }
}

@media(max-width: 1050px) {
    .about-us {
        &__container {
            flex-direction: column;
            padding: 30px;
            height: auto;
        }
        &__text {
            div {
                padding-top: 12px;
            }
        }
    }
}
