.building {
    // padding-top: 191px;
    padding-top: 100px;
    &__title {
        padding: 0 15px;
    }

    &__subtitle {
        padding: 15px 15px 0 15px;
        max-width: 267px;
        margin: 0 auto;
    }

    &__style {}

    &__dimensions {}

    &__size {}

    &__btn-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
    }

    &__btn {
        margin: 30px 15px 0 15px;
        max-height: 40px;
        height: 40px;
        width: 100%;

        background: $dark-blue;
        border-radius: 11px;
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;

        color: $white;
        text-align: center;
        padding: 12px 0;

        &:hover {
            transition: 0.2s;
            background: $hover-blue;
        }
    }

    &__circle {
        width: 126px;
        height: 126px;
        border-radius: 100px;
    }
}

.types {
    // padding-top: 37px;
    display: flex;
    padding-left: 15px;


    @media (min-width: 730px) {
        padding-left: 0;
    }

    &__track {
        display: flex;
        padding-top: 37px;

        @media (min-width: 730px) {
            margin: 0 auto;
            padding-top: 75px;
        }
    }

    &__item {
        margin-right: 95px;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        .tick {
            display: none;
            opacity: 0;
            visibility: hidden;
        }

        @media (min-width: 730px) {
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__img {
        position: relative;
        display: flex;
        justify-content: center;

        img {
            height: 125px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__item_active {
        position: relative;
        .types__name {
            color: $dark-blue;
        }

        .tick {
            display: block;
            opacity: 1;
            visibility: visible;
            width: 32px;
            height: 23px;
            position: absolute;
            top: 0;
            right: -42px;
        }
    }

    &__name {
        font-size: 15px;
        line-height: 15px;
        text-align: center;
        padding-top: 46px;
        color: $grey;
    }
}

.buildings {
    &__types {}

    &__material {}
}

.material {
    padding: 30px 15px 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;

    &__item {
        background: $light-grey;
        border-radius: 11px;
        max-width: 172px;
        cursor: pointer;

        //Взято из фигмы
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 13px 15px 12px;

        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        text-align: center;
        color: $grey;
    }

    &__item_active {
        color: $white;
        background: $dark-blue;
    }
}

.style {
    display: flex;
    padding-top: 25px;
    padding-left: 15px;

    &__item {
        font-size: 15px;
        line-height: 15px;
        color: $grey;
        padding-right: 25px;

        span {
            cursor: pointer;
        }
    }

    &__span_active {
        color: $dark-blue;
    }
}

.range {
    padding: 40px 15px 0 15px;

    &__title {
        font-size: 15px;
        line-height: 15px;
        color: $grey;
        padding-bottom: 25px;

        span {
            font-weight: bold;
            color: $black;
        }
    }

    &__numbers {
        display: flex;
        justify-content: space-around;
        align-items: center;

        font-size: 15px;
        line-height: 15px;
        color: $grey;
        width: 100%;
        padding: 0 10px;

        div {
            width: 30px;
            text-align: center;
        }
    }

    &__input {
        -webkit-appearance: none;
        width: 100%;
        margin-bottom: 20px;
        background: $light-grey;
        border-radius: 5px;
    }

    &__input::-webkit-slider-runnable-track {
        height: 5px;
        width: 100%;
        background: $grey;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &__input::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 23px;
        height: 23px;
        /* round button */
        border-radius: 50%;
        transform: translateY(-9px);
        background-color: $dark-blue;
        border: none;
        cursor: pointer;
    }
}

.size {
    display: flex;
    align-items: center;
    padding-top: 38px;
    padding: 38px 15px 0 15px;

    &__metres {
        font-size: 15px;
        line-height: 23px;
        color: $grey;
        flex: 50%;
    }

    &__input {
        border: none;
        max-width: 71px;
        background: $white;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
        border-radius: 11px;

        height: 40px;
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        margin-left: 5px;
        padding-left: 15px;
        z-index: 10;
    }

    /* Chrome, Safari, Edge, Opera */
    &__input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    &__input[type="number"] {
        -moz-appearance: textfield;
    }

    &__list {
        background: $white;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
        position: absolute;
        right: 250px;
        z-index: 100;
        overflow: hidden;
        height: 140px;

        div {
            padding: 5px 15px;
        }
    }

    &__price {
        background: $light-grey;
        border-radius: 11px;
        flex: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100%;
        max-height: 40px;

        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 20px;

            display: flex;
            align-items: center;
            text-align: center;
            color: $black;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

@media (min-width: 820px) {
    .building {
        padding-top: 191px;
    }
    .material {
        grid-template-columns: 1fr 1fr;
        max-width: 165px;
        grid-area: mat;
        padding-top: 0;
    }

    .style {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        grid-area: stl;

        &__item {
            padding-top: 10px;
            padding-right: 0;
        }
    }

    .building__dimensions {
        grid-area: rng;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .range {
        padding: 0;
    }

    .types {}

    .size {
        flex-direction: column;
        grid-area: size;
        padding-top: 0;

        &__price {
            margin-top: 20px;
            width: 165px;
        }

        &__metres {
            display: flex;
            align-items: center;

            input {
                margin-left: 8px;
            }
        }
    }

    .building__btn {
        grid-area: btn;
        margin: 0;
        max-width: 165px;
    }

    .desktop-grid {
        display: grid;
        grid-column-gap: 45px;
        grid-template-columns: 1fr 2fr 1.2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "mat rng size"
            "stl rng btn";

        max-width: 765px;
        margin: 0 auto;

        padding-top: 50px;
    }
}