.building {
    padding-top: 100px;
    background-color: $white;
    // max-width: 617px;

    display: block;

    &__size {
    }

    &__dimensions {
        // padding-top: 30px;
    }

    &__btn-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
    }

    &__btn {
        margin: 30px 15px 0 15px;
        max-height: 40px;
        height: 40px;
        width: 100%;

        background: $dark-blue;
        border-radius: 11px;
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;

        color: $white;
        text-align: center;
        padding: 12px 0;

        &:hover {
            transition: 0.2s;
            background: $hover-blue;
        }
    }
}
.texture {
    grid-area: tex;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title {
        // align-self: start;
        max-width: 617px;
        width: 100%;
        p {
            text-align: left;
            width: 100%;
        }
    }
    &__type {
        max-width: 617px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 15px;
        padding-top: 45px;
        // background: #000;
    }
    &__item {
        width: calc(63px + (112px - 62px) * (100vw - 320px) / (1200 - 1000));

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.range {
    // padding: 40px 15px 0 15px;
    width: 100%;

    &__title {
        font-size: 15px;
        line-height: 15px;
        color: $grey;
        padding-bottom: 25px;

        span {
            font-weight: bold;
            color: $black;
        }
    }

    &__numbers {
        display: flex;
        justify-content: space-around;
        align-items: center;

        font-size: 15px;
        line-height: 15px;
        color: $grey;
        width: 100%;
        padding: 0 10px;

        div {
            width: 30px;
            text-align: center;
        }
    }

    &__input {
        -webkit-appearance: none;
        width: 100%;
        margin-bottom: 20px;
        background: $light-grey;
        border-radius: 5px;
    }

    &__input::-webkit-slider-runnable-track {
        height: 5px;
        width: 100%;
        background: $grey;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &__input::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 23px;
        height: 23px;
        /* round button */
        border-radius: 50%;
        transform: translateY(-9px);
        background-color: $dark-blue;
        border: none;
        cursor: pointer;
    }
}
.size {
    display: flex;
    flex-direction: column;
    // align-items: center;

    // padding-top: 38px;
    padding: 38px 15px 0 15px;

    &__metres {
        font-size: 15px;
        line-height: 23px;
        color: $grey;
        flex: 50%;
    }

    &__input {
        border: none;
        max-width: 71px;
        background: $white;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
        border-radius: 11px;

        height: 40px;
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        margin-left: 5px;
        padding-left: 15px;
        z-index: 10;
    }

    /* Chrome, Safari, Edge, Opera */
    &__input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    &__input[type="number"] {
        -moz-appearance: textfield;
    }

    // &__list {
    //     background: $white;
    //     box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
    //     position: absolute;
    //     right: 250px;
    //     z-index: 100;
    //     overflow: hidden;
    //     height: 140px;

    //     div {
    //         padding: 5px 15px;
    //     }
    // }

    &__price {
        background: $light-grey;
        border-radius: 11px;
        flex: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100%;
        max-height: 40px;

        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 20px;

            display: flex;
            align-items: center;
            text-align: center;
            color: $black;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
.chosen {
    grid-area: chos;
    width: 100%;
    padding-top: 45px;

    img {
        width: 100%;
    }
}
.calc {
    grid-area: cal;
}

@media (min-width: 1000px) {
    .building {
        padding-top: 191px;
        // display: grid;
        // grid-template-columns: 1fr 2fr;
        // grid-template-rows: 1fr 1fr;
        // grid-template-areas:
        //     "chos tex"
        //     "chos cal";

        &__btn-wrapper {
            display: block;
            width: auto;
            padding-top: 63px;
        }
    }

    .building__dimensions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // padding-top: 100px;
        width: 100%;
        margin-right: 45px;
    }

    .range {
        padding: 0;
        // width: 345px;
        width: 100%;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .size {
        // flex-direction: column;
        grid-area: size;
        padding-top: 0;

        &__price {
            margin-top: 20px;
            width: 165px;
        }

        &__metres {
            display: flex;
            align-items: center;

            input {
                margin-left: 8px;
            }
        }
    }

    .building__btn {
        margin: 0;
        max-width: 165px;
    }
    .texture {
        // align-items: flex-end;
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        &__grid {
            min-width: 617px;
            flex: 1 0 50%;
        }
    }

    .chosen {
        flex: 0 1 50%;
        padding-top: 75px;
        width: auto;
        position: relative;

        img {
            width: 350px;
            padding: 0 15px;
            // position: fixed;
            top: 0;
            left: 0;
        }
    }
    .calc-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-top: 100px;
    }
    .calc {
        // max-height: 265px;
        display: flex;
        justify-content: space-between;
        max-width: 680px;
        min-width: 617px;
    }
}
