.colors {
    padding-top: 135px;
    &__title {
        font-weight: 500;
        font-size: 23px;
        line-height: 30px;
        text-align: center;
        color: $black;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 75px;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        padding-top: 30px;

        div {
            // background-color: $light-grey;
            height: calc(70px + (115 - 70) * (100vw - 320px) / (1600 - 320));
            width: calc(70px + (115 - 70) * (100vw - 320px) / (1600 - 320));
            border-radius: 70px;
            img {
                width: 100%;
            }
        }
    }
}
.white {
    border: 2px solid $light-grey;
}
.dark-yellow {
    background-color: $dark-yellow;
}
.turquoise {
    background-color: $turquoise;
}
.dark-pink {
    background-color: $dark-pink;
}
.grey {
    background-color: $grey;
}

@media (max-width: 820px) {
    .colors {
        padding-top: 100px;
        &__items {
            grid-gap: 23px;
        }
        .container {
            padding-top: 37px;
        }
    }
}

@media (max-width: 360px) {
    .colors__items {
        padding: 30px 30px 0 30px;
        grid-gap: 8px;

        div {
            height: 67px;
            width: 67px;
        }
    }
}
