.delivery {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__pic {
        // background-color: red;
        width: calc(320px + (670 - 320) * (100vw - 320px) / (1800 - 320));
        img {
            width: 100%;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 23px;
        padding-top: 80px;
        max-width: 512px;

        @media (max-width: 600px) {
            font-size: 23px;
            line-height: 23px;
        }
    }
    &__subtitle {
        font-size: 17px;
        line-height: 27px;
        color: $grey;
        padding-top: 12px;
        @media (max-width: 600px) {
            font-style: normal;
            font-weight: normal;
            line-height: 25px;
        }
    }
    &__buttons {
        padding-top: 38px;
        display: flex;
        flex-direction: column;

        @media (min-width: 600px) {
            flex-direction: row;
        }
    }

    &__phone {
        border-radius: 25px;

        width: 100%;
        height: 45px;
        padding-left: 26px;
        padding-right: 62px;
        margin-bottom: 17px;

        background: $light-grey;
        

        @media (min-width: 600px) {
            margin-right: 15px;
        }
    }
    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 17px;
        line-height: 20px;
        color: $grey;
        font-weight: normal;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-size: 17px;
        line-height: 15px;
        color: $grey;
        font-weight: normal;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        font-size: 17px;
        line-height: 15px;
        color: $grey;
        font-weight: normal;
    }
    &__connect {
        background: $dark-blue;
        border-radius: 25px;
        // width: 210px;
        width: 100%;
        height: 45px;

        text-align: center;
        &:hover {
            transition: 0.2s;
            background: $hover-blue;
        }

        div {
            font-weight: 500;
            font-size: 17px;
            line-height: 23px;

            color: $white;
        }
    }
}

@media (min-width: 1250px) {
    .delivery {
        flex-direction: row;
        align-items: center;
        margin-bottom: 150px;

        &__pic {
            width: 437.92px;
            height: 212.16px;
        }
        &__text {
            font-weight: bold;
            font-size: 40px;
            line-height: 47px;
            color: $dark;
            padding-top: 0;
            max-width: 570px;
        }
        &__subtitle {
            font-size: 20px;
            line-height: 27px;
            color: $grey;
            width: 377px;
            padding-top: 25px;
            font-weight: normal;
        }
        &__buttons {
            display: block;
        }
        &__phone {
            width: 295px;
            height: 45px;
            margin-bottom: 0;
        }
        &__connect {
            width: 210px;
            height: 45px;
        }
    }
}
