.discounts {
    background: $white;
    padding-top: 101px;
    position: relative;
    z-index: 100;

    &__header {
        font-weight: bold;
        font-size: 30px;
        line-height: 20px;
        text-align: center;

        color: #000;
    }

    &__slider {
        padding-top: 55px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 25px;
            max-width: 387px;
            max-height: 387px;
        }
    }
}

.safari {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr;
    margin-top: 45px;
    .discounts__slide {
        margin: 0 auto;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        max-width: 387px;
        max-height: 387px;
    }
}

@media (min-width: 600px) {
    .safari {
        margin-top: 60px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
@media (min-width: 1250px) {
    .safari {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
