@mixin back {
    background-position: 55% 50%;
    background-repeat: no-repeat;
    background-size: 60% 60%;
}

.products {
    background: $white;
    padding-top: 45px;
    // padding-right: 15px;
    &__items {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    &__services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 20px;
        margin: 0 auto;
        padding-top: 56px;
    }
}
.products.mt-100vh {
    margin-top: 100vh;
}
._product {
    img {
        width: 100%;
        border-radius: 25px;
    }
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.11);
    border-radius: 25px;
    cursor: pointer;
    display: block;
    transition: transform ease 0.3s;
    overflow: hidden;
    position: relative;
    &:hover {
        transition: 0.3s;
        transform: scale(1.03);
    }

    &__title {
        font-size: 27px;
        line-height: 23px;

        color: $white;
        position: absolute;
        top: 40px;
        left: 30px;
    }
}
.service {
    display: flex;
    align-items: center;

    &__pic {
        width: 55px;
        height: 55px;
        border-radius: 11px;
        margin-right: 15px;
    }

    &__text {
        font-size: 16px;
        line-height: 23px;
        color: $grey;
        max-width: 197px;
    }
}

.blue {
    background: $blue;
    background-image: url("../img/little1.png");
    @include back;
}
.yellow {
    background: $yellow;
    background-image: url("../img/little4.png");
    @include back;
}
.garant {
    background: $blue;
    background-image: url("../img/little3.png");
    @include back;
}
.pink {
    background: $pink;

    background-image: url("../img/little2.png");
    @include back;
}
.del {
    max-width: 158px;
}
.quar {
    max-width: 71px;
}
.comp {
    max-width: 197px;
}

@media (max-width: 330px) {
    ._product {
        &__title {
            top: 30px;
            left: 20px;
        }
    }
}
@media (max-width: 580px) {
    .products {
        &__services {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;

            &__text {
                // margin-right: 10px;
            }
        }
        .service {
            flex: 0 0 25%;
        }
    }
}

@media (min-width: 550px) {
    .products {
        &__items {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 20px;
        }
    }
}

@media (min-width: 950px) {
    .products {
        &__items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-gap: 20px;
        }
    }
    ._product {
        width: calc(391px + (391px - 311px) * (100vw - 320px) / (1600px - 320px));
        height: calc(325px + (325px - 311px) * (100vw - 320px) / (1600px - 320px));
    }
}
@media (min-width: 1250px) {
    .products {
        &__items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        &__services {
            display: flex;
            align-items: center;
        }
    }
    ._product {
        width: calc(391px + (391px - 309px) * (100vw - 320px) / (1600px - 320px));
        height: calc(325px + (325px - 309px) * (100vw - 320px) / (1600px - 320px));
    }
    .service {
        flex: 0 0 25%;
        &__pic {
            margin-right: 35px;
        }
    }
}
