.questions {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    background-color: $white;
    // margin-bottom: 60px;

    &__pic {
        width: calc(320px + (670 - 320) * (100vw - 320px) / (1800 - 320));
        // background-color: red;
        img {
            width: 100%;
        }
    }

    &__text {

        font-weight: normal;
        font-size: 17px;
        line-height: 27px;
        color: $grey;
        padding-top: 25px;
        max-width: 525px;
        p {
            font-style: normal;
            font-weight: 500;
            font-size: 23px;
            line-height: 23px;
            color: $dark;
        }
    }
    &__subtext {
        padding-top: 26px;
        // width: 350px;
        a {
            color: $dark-blue;
        }
    }

    &__soc {
        display: flex;
        align-items: center;
        padding-top: 28px;
    }
    .telegram {
        padding: 12px 13px 3px 6.5px;
        // background-color: red;
    }
    &__buttons {
        padding-top: 36px;
    }
}

.dblock {
    display: block;
}

@media (min-width: 1250px) {
    .questions {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 150px;
        &__pic {
            flex: 0 0 48%;
        }

        &__text {
            flex: 0 0 50%;
            font-size: 20px;
            line-height: 27px;
            color: $grey;
            max-width: auto;
            // margin: 0 auto;
            p {
                font-weight: bold;
                font-size: 40px;
                line-height: 47px;
                color: $dark;
            }
        }
        &__subtext {
            width: 501px;
        }

        &__soc {
        }

        &__buttons {
        }
    }
}
