.rake-form {
    padding-top: 100px;

    &__title {
        // margin-bottom: 40px;
    }

    &__container {
        padding-top: 37px;
        display: flex;
        margin: 0 auto;
        // width: 500px;
        justify-content: space-around;
    }

    &__elem {
        position: relative;
        margin: 0 auto;

        img {
            height: 213px;
            // position: absolute;
            // top: -54px;
            // left: 27px;
        }
        p {
            font-size: 17px;
            line-height: 17px;
            text-align: center;
            padding-top: 70px;

            color: $grey;
        }
    }
}

@media (min-width: 535px) {
    .rake-form {
        padding-top: 160px;

        &__container {
            padding-top: 72px;
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            width: 500px;
            justify-content: space-around;
        }

        &__elem {
            position: relative;
            display: block;

            img {
                height: 213px;
            }
            p {
                font-size: 17px;
                line-height: 17px;
                text-align: center;
                padding-top: 70px;

                color: $grey;
            }
        }
    }
}
