// .discounts__slider {
//     .slick-slide {
//         visibility: hidden;
//     }
//     .slick-slide::nth-child(1) {
//         visibility: visible;
//     }
// }
// .discounts__slider.slick-initialized {
//     .slick-slide {
//         visibility: visible;
//     }
// }

.discounts__slider {
    width: 100%;
    min-width: 0;
    overflow: hidden;

    ul {
        list-style: none;
    }

    /* Слайдер */
    .slick-slider {
    }

    /* Слайдер с точками */
    .slick-slider.slick-dotted {
    }

    /* Ограничивающая оболочка */
    .slick-list {
    }

    /* Лента слайдов */
    .slick-track {
        @include flex-row;
    }

    /* Слайд */
    .slick-slide {
        background-color: $pink;
        max-width: 387px;
        max-height: 387px;
        border-radius: 25px;
        margin: 0 37px;
        cursor: pointer;
        
    }
    .discounts__slide {
        display: none;
        
        &:nth-child(1) {
            display: block;
        }
    } 
    /* Слайдер запущен */
    &.slick-initialized {
        .discounts__slide {
            display: block;
        }
    }

    /* Слайд активный (показывается) */
    .slick-slide.slick-active {

    }

    /* Слайд основной */
    .slick-slide.slick-current {
    }

    /* Слайд по центру */
    .slick-slide.slick-center {
    }

    /* Клонированный слайд */
    .slick-slide.slick-cloned {
    }

    /* Стрелка */
    .slick-arrow {
    }

    /* Стрелка влево */
    .slick-arrow.slick-prev {
    }

    /* Стрелка вправо */
    .slick-arrow.slick-next {
    }

    /* Стрелка не активная */
    .slick-arrow.slick-disabled {
    }

    /* Точки (булиты) */
    .slick-dots {
        @include flex-row;
        align-items: flex-end;
        max-height: 11px;
        padding-top: 55px;
        // margin-bottom: 45px;
    }

    .slick-dots li {
        // color: #ABB0BD;
    }

    /* Активная точка */
    .slick-dots li.slick-active button {
        background: #292930;
    }

    /* Элемент точки */
    .slick-dots li button {
        margin: 0 0 0 7px;
        font-size: 0;
        width: 11px;
        height: 11px;
        background: #ABB0BD;    
        border-radius: 50%;
    }

    @media (min-width: 450px) {
        .slick-slide {
            @include flex-column;
        }
    }

    @media (min-width: 900px) {
        .discounts__slider {
            &__item {
                font-size: 29px;
            }

            &__label {
                font-size: 17px;
                margin-bottom: 22px;
            }
        }
        .slick-slide {
            display: block;
            width: 387px;
            height: 387px;
            
            
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    @media (min-width: 1350px) {
        .slick-slide {
            display: block;
            // width: 333px;
            margin-left: 1px;
        }

        .discounts__slider {
            // max-width: 333px;

            &__item {
                font-size: 27px;
                padding-left: 0;
                padding-top: 33px;
            }
        }

        .slick-dots {
            max-height: 11px;
        }

        .slick-dots li button {
            margin: 0 0 0 11px;
            width: 11px;
            height: 11px;
        }
    }
}
