@import "./vars";

.title {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: $dark;
}

.subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: $grey;
}

@media (max-width: 820px) {
    .title {
        font-size: 23px;
        line-height: 23px;
    }
    .subtitle {
        font-size: 17px;
        line-height: 25px;
    }
}
