.work {
    padding-top: 86px;
    margin: 0 auto;
    background-color: $white;

    &__title {
        font-weight: 500;
        font-size: 23px;
        line-height: 30px;
        text-align: center;

        color: $dark;
    }

    &__container {
        display: grid;
        grid-gap: 15px;
        padding-top: 37px;
        margin: 0 auto;

        img {
            width: 320px;
            height: 320px;
            // margin-top: 50px;
            margin: 0 auto;
            border-radius: 25px;
            display: block;
            filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.11));
        }
    }
}

@media (min-width: 550px) {
    .work {
        &__container {
            padding-top: 94px;
            display: grid;

            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-gap: 54px;

            img {
                margin-top: 0;
                margin: 0 auto;
                width: 100%;
                height: 100%;
                // background-color: red;
            }
        }
    }
}

@media (min-width: 990px) {
    .work {
        padding-top: 86px;
        margin: 0;

        &__title {
            font-weight: 500;
            font-size: 30px;
            line-height: 30px;
            text-align: center;

            color: $dark;
        }

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 75px;
            img {
                max-width: 391px;
                min-width: 280px;
            }
        }
    }
}
