@import "_vars";
@import "_header.scss";
@import "_text.scss";
@import "_products.scss";
@import "_product.scss";
@import "_menu.scss";
@import "_discounts.scss";
@import "_building.scss";
@import "_popup.scss";
@import "_liquidation.scss";
@import "_delivery.scss";
@import "_point.scss";
@import "_about_us.scss";
@import "_work.scss";
@import "_instagram.scss";
@import "_questions.scss";
@import "_footer.scss";
@import "_modals.scss";
@import "_swiper.scss";

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  background: $white;
  overflow-x: hidden;
  margin-top: 100vh;
}
.main-screen {
  height: 100vh;  
  position: fixed;
  max-width: 1360px;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 0 15px;
  width: 100%;
}

@media (min-width: 600px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1250px) {
  .wrapper {
    padding: 0 63px;
  }
}
@media (min-width: 1360px) {
  .main-screen {
    left: calc(50% - 680px);
  }
}


